In [2]:
import pandas as pd
import numpy as np

In [20]:
lrna_dataset = pd.read_csv('Final_lncRNA.csv')
mirna_dataset = pd.read_csv('Final_miRNA.csv')

In [26]:
lrna_dataset['type'] = 'lncRNA'
mirna_dataset['type'] = 'miRNA'
lrna_dataset.rename(columns={lrna_dataset.columns[0]:'approved_symbol'}, inplace=True)
mirna_dataset.rename(columns={mirna_dataset.columns[0]:'approved_symbol'}, inplace=True)

In [29]:
mirna_dataset.columns

Index(['approved_symbol', 'type'], dtype='object')

In [28]:
lrna_dataset.columns

Index(['approved_symbol', 'type'], dtype='object')

In [30]:
full_gene_df = lrna_dataset.append(mirna_dataset, ignore_index=True)

In [33]:
full_gene_df.drop_duplicates(subset=['approved_symbol'], keep='first')

      approved_symbol    type
0            A1BG-AS1  lncRNA
1             A2M-AS1  lncRNA
2           A2ML1-AS1  lncRNA
3           A2ML1-AS2  lncRNA
4         AADACL2-AS1  lncRNA
...               ...     ...
27652       MIR6859-4   miRNA
27655       MIR8069-2   miRNA
27656         MIR8485   miRNA
27659        MIR941-5   miRNA
27660         MIR9500   miRNA

[27597 rows x 2 columns]

In [34]:
serial_list = range(1, len(full_gene_df)+1)
gene_id_list = ["G"+str(s) for s in serial_list]

In [35]:
full_gene_df['geneId'] = gene_id_list

In [36]:
full_gene_df.to_csv("full_gene_df.csv", index=False)